<web-app>

<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>studentmanagement.LoginServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>

<welcome-list-file>
<welcome-list>index.html</welcome-list>
</welcome-list-file>


<servlet>
<servlet-name>Logout</servlet-name>
<servlet-class>studentmanagement.Logout</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Logout</servlet-name>
<url-pattern>/Logout</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>deleteStudent</servlet-name>
<servlet-class>studentmanagement.deleteStudent</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>deleteStudent</servlet-name>
<url-pattern>/deleteStudent</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UpdateServlet</servlet-name>
<servlet-class>studentmanagement.UpdateServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>UpdateServlet</servlet-name>
<url-pattern>/UpdateServlet</url-pattern>
</servlet-mapping>



</web-app>